/* =========================== general =======================*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Courier, Monospace;
}

/* =========================== header =======================*/

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25%;
  position: sticky;
  overflow: hidden;
}

.stef {
  padding: 3%;
  margin: 0;
  text-align: center;
  min-height: 0;
}

/* =========================== header-nav =======================*/

.page-nav {
  list-style-type: none;
  margin: 0;
  padding: 2%;
  text-align: center;
  min-height: 0;
}

.page-nav li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.page-nav a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  opacity: 0.65;
}

.page-nav a:before {
  content: "[ ";
}

.page-nav a:after {
  content: " ]";
}

.page-nav a:before,
.page-nav a:after {
  opacity: 0;
}

.page-nav a.active:before,
.page-nav a.active:after {
  opacity: 0.8;
}

.page-nav a.active {
  color: #560963;
}

.page-nav a:hover:before,
.page-nav a:hover:after {
  opacity: 0.8;
  transition: 0.5s;
}

.page-nav a:hover {
  opacity: 0.8;
  transition: 0.27s;
}

/* =========================== home-bottom =======================*/

.page-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 75%;
  background-image: url("images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#home-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1%;
  width: 60%;
  height: 80%;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 2px;
  font-size: 1.2em;
}

#home-bottom-container div:nth-child(1) {
  max-height: 90%;
  width: auto;
  overflow: auto;
  padding: 5% 10% 0 10%;
  overflow: hidden;
}

#home-bottom-container div:nth-child(1) h2 {
  margin: 0;
  padding: 0;
}

#home-bottom-container p {
  margin: 2% 0 0 0;
}

#home-bottom-container div:nth-child(2) {
  height: 10%;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

#home-bottom-container div:nth-last-child(1) img{
  height: 100%;
  width: auto;
}
