/* =========================== general =======================*//*{{{*/

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Courier, Monospace;
  scroll-behavior: smooth;
  scroll-padding-top: 25vh;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #191919;
}

.main-body {
  height: auto;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.main-body::-webkit-scrollbar { display: none; }

.img {
  float: left;
  background-size: cover;
  background-position: center;
}

.entries {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entrie {
  color: #fff;
  opacity: 0.6;
  height: auto;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.27s ease-in-out;
}

.entrie:hover {
  opacity: 1;
}

.entrie .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entrie .title {
  font-size: 1.4em;
  font-weight: bold;
}

.entrie .date {
  font-size: 0.8em;
  font-weight: normal;
  color: #bea1ff;
}

/*}}}*/

/* =========================== header =======================*//*{{{*/

header { 
  height: 10vh;
  width: 100%;
  position: fixed; 
  user-select: none;
  box-shadow: 0px 5px 8px #191919;
  z-index: 1;
}

.main-nav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
  width: 100%;
}

.stef {
  height: 100%;
  width: 25%;
  padding-left: 3%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  font-size: 1.9em;
  font-weight: bold;
}

.main-nav ul {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin-left: 1%;
  margin-right: 1%;
}

.main-nav a {
  height: 100%;
  text-decoration: none;
  font-size: 1.3em;
  color: #000;
  font-weight: bold;
  opacity: 0.65;
  transition: opacity 0.27s ease-in-out;
}

.main-nav a:before { content: "[ "; }
.main-nav a:after { content: " ]"; }

.main-nav a:after,
.main-nav a:before { opacity: 0; transition: 0.27s ease-in-out; }

.main-nav a.active:before, 
.main-nav a.active:after { opacity: 0.75; }

.main-nav a.active { color: #250173; }

.main-nav a:hover:before,
.main-nav a:hover:after { opacity: 0.75; }

.main-nav a:hover { opacity: 0.9; }

.header-filler {
  display: block;
  height: 10vh;
  width: 100%;
}

/*}}}*/

/* =========================== main-title =======================*//*{{{*/

.main-title {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.main-title p { 
  max-width: 60vw;
  color: #fff;
  font-size: 1.7em;
  position: relative;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
  text-align: center;
  margin: 0;
}

.main-title p:before { right: 103%; }
.main-title p:after { left: 103%; }

.main-title p:before,
.main-title p:after {
  opacity: 0;
  content: "";
  position: absolute;
  bottom: 50%;
  width: 0px;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.main-title p:hover {
  opacity: 1;
}

.main-title p:hover:after,
.main-title p:hover:before {
  width: 15%;
  opacity: 1;
}

/*}}}*/

/* =========================== home-body =======================*//*{{{*/

#home-canvas {
  height: 80%;
  width: 100%;
  border: 0;
}

/*}}}*/

/* =========================== projects-body =======================*//*{{{*/

/* =========================== projects-body-nav ======================= *//*{{{*/

.projects-nav {
  min-height: 60vh;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.projects-nav li {
  width: auto;
  font-weight: bold;
  text-align: left;
  margin: 1.5vh 0 1.5vh 7vw; 
}

.projects-nav a {
  color: #fff;
  opacity: 0.8;
  font-size: 1.27em;
  position: relative;
  text-decoration: none;
  transition: opacity 0.15s ease-in-out, font-size 0.15s ease-in-out;
}

.projects-nav a:before,
.projects-nav a:after {
  left: 0;
  opacity: 0;
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.projects-nav a:hover {
  font-size: 1.7em;
  cursor: pointer;
  opacity: 1;
}

.projects-nav a:hover:after,
.projects-nav a:hover:before {
  width: 100%;
  opacity: 0.9;
}

/*}}}*/

.projects-separator {
  height: 15vw;
  width: 100%;
}

.projects {
  width: 100%;
  height: auto;
}

.project {
  max-height: 30vh;
  width: 60vw;
  margin: 7vw 0 7vw 0;
}

.project .img {
  height: 15vw;
  width: 15vw;
  margin-right: 3vw;
  border-radius: 20%;
}

.project .content {
  justify-content: flex-start;
  height: 20vw;
  width: auto;
  overflow-y: auto;
}

.project .content::-webkit-scrollbar { display: none; }

.project .description {
  margin-top: 3vh;
}

#tsk .img { background-image: url("images/task.png") }
#ac .img { background-image: url("images/acclivity.png") }
#sp .img { background-image: url("images/steer.png") }
#pp .img { background-image: url("images/p&p.png") }
#quotes .img { background-image: url("images/quotes.png") }
#lissa .img { background-image: url("images/lissa.png") }
#fireworks .img { background-image: url("images/fireworks.jpeg") }
#snake .img { background-image: url("images/snake.png") }
#matrix .img { background-image: url("images/matrix.jpg") }

/*}}}*/

/* =========================== footer =======================*//*{{{*/

footer {
  margin: 0;
  padding: 0;
  border: 0;
  height: 8vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 0.7em;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

footer p:hover {
  opacity: 1;
}

footer div {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer a {
  height: 100%;
  width: 6vw;
  text-align: center;
}

footer img {
  height: 100%;
  width: auto;
}

/*}}}*/

/* =========================== responsive =======================*//*{{{*/

@media only screen and (max-width: 1000px) {
  header, .main-title, .blog-post-body {
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  header, .main-title, .blog-post-body {
    font-size: 16px;
  }

  .projects-nav {
    align-items: center;
  }

  .projects-nav li {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  header, .main-title, .blog-post-body {
    font-size: 14px;
  }

  .blog-entry .img {
    width: 7vh;
    height: 7vh;
  }

  .blog-entry .content {
    height: 7vh;
  }
}

@media only screen and (max-width: 400px) {
  header, .main-title, .blog-post-body {
    font-size: 12px;
  }
}

/*}}}*/

/* =========================== extra =======================*//*{{{*/

.up-button {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  background-color: white;
  color: black;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 2px 5px #191919;
  text-align: center;
  vertical-align: middle;
  outline: 0;
  font-size: 0.6em;
  font-weight: bold;
  cursor: pointer;
}

/*}}}*/

/* =========================== task =======================*//*{{{*/

#task-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#task-body canvas {
  width: 90vw;
  height: 90vh;
}

#game-over {
  color: white;
}

/*}}}*/
