/* =========================== general =======================*//*{{{*/

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Courier, Monospace;
  scroll-behavior: smooth;
}

body {
  background-color: #191919;
}

.main-body {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.main-body::-webkit-scrollbar { display: none; }

.img {
  float: left;
  background-size: cover;
  background-position: center;
}

.entries {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entrie {
  color: #fff;
  opacity: 0.6;
  height: auto;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.27s ease-in-out;
}

.entrie:hover {
  opacity: 1;
}

.entrie .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entrie .title {
  font-size: 1.4em;
  font-weight: bold;
}

.entrie .date {
  font-size: 0.8em;
  font-weight: normal;
  color: #bea1ff;
}

/*}}}*/

/* =========================== header =======================*//*{{{*/

header { 
  height: 10%;
  width: 100%;
  position: sticky; 
  user-select: none;
  box-shadow: 0px 5px 8px #191919;
  z-index: 1;
}

.main-nav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
  width: 100%;
}

.stef {
  height: 100%;
  width: 25%;
  padding-left: 3%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  font-size: 1.9em;
  font-weight: bold;
}

.main-nav ul {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin-left: 1%;
  margin-right: 1%;
}

.main-nav a {
  height: 100%;
  text-decoration: none;
  font-size: 1.3em;
  color: #000;
  font-weight: bold;
  opacity: 0.65;
  transition: opacity 0.27s ease-in-out;
}

.main-nav a:before { content: "[ "; }
.main-nav a:after { content: " ]"; }

.main-nav a:after,
.main-nav a:before { opacity: 0; transition: 0.27s ease-in-out; }

.main-nav a.active:before, 
.main-nav a.active:after { opacity: 0.75; }

.main-nav a.active { color: #250173; }

.main-nav a:hover:before,
.main-nav a:hover:after { opacity: 0.75; }

.main-nav a:hover { opacity: 0.9; }

/*}}}*/

/* =========================== main-title =======================*//*{{{*/

.main-title {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.main-title p { 
  max-width: 60vw;
  color: #fff;
  font-size: 1.7em;
  position: relative;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
  text-align: center;
  margin: 0;
}

.main-title p:before { right: 103%; }
.main-title p:after { left: 103%; }

.main-title p:before,
.main-title p:after {
  opacity: 0;
  content: "";
  position: absolute;
  bottom: 50%;
  width: 0px;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.main-title p:hover {
  opacity: 1;
}

.main-title p:hover:after,
.main-title p:hover:before {
  width: 15%;
  opacity: 1;
}

/*}}}*/

/* =========================== home-body =======================*//*{{{*/

#home-canvas {
  height: 75%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*}}}*/

/* =========================== projects-body =======================*//*{{{*/

/* =========================== projects-body-nav ======================= *//*{{{*/

.projects-nav {
  min-height: 60vh;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.projects-nav li {
  width: auto;
  font-weight: bold;
  text-align: left;
  margin: 1.5vh 0 1.5vh 7vw; 
}

.projects-nav a {
  color: #fff;
  opacity: 0.8;
  font-size: 1.27em;
  position: relative;
  text-decoration: none;
  transition: opacity 0.15s ease-in-out, font-size 0.15s ease-in-out;
}

.projects-nav a:before,
.projects-nav a:after {
  left: 0;
  opacity: 0;
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.projects-nav a:hover {
  font-size: 1.7em;
  cursor: pointer;
  opacity: 1;
}

.projects-nav a:hover:after,
.projects-nav a:hover:before {
  width: 100%;
  opacity: 0.9;
}

/*}}}*/

.projects-separator {
  height: 15vw;
  width: 100%;
}

.projects {
  width: 100%;
  height: auto;
}

.project {
  max-height: 30vh;
  min-width: 60vw;
  max-width: 70vw;
  margin: 10vw 0 10vw 0;
}

.project .img {
  height: 20vw;
  width: 20vw;
  margin-right: 3vw;
  border-radius: 20%;
}

.project .content {
  justify-content: flex-start;
  height: 20vw;
  width: auto;
  overflow-y: auto;
}

.project .content::-webkit-scrollbar { display: none; }

.project .description {
  margin-top: 3vh;
}

#pp .img { background-image: url("images/p&p.jpeg") }
#quotes .img { background-image: url("images/quotes.jpg") }
#lissa .img { background-image: url("images/lissa.png") }
#fireworks .img { background-image: url("images/fireworks.jpeg") }
#snake .img { background-image: url("images/snake.png") }
#matrix .img { background-image: url("images/matrix.jpg") }

/*}}}*/

/* =========================== blog-body =======================*//*{{{*/

.blog-entries {
  min-height: 90vh;
}

.blog-entrie {
  min-width: 60vw;
  margin: 3vh 0 3vh 0;
}

.blog-entrie .img {
  height: 9vh;
  width: 9vh;
  margin-right: 1.5vw;
  border-radius: 50%;
}

.blog-entrie .content {
  height: 9vh;
}

#om-munte { background-image: url("images/omu-muntelui.jpeg"); }
#apus { background-image: url("images/apus.jpeg"); }
#van { background-image: url("images/van.jpeg"); }
#undeva { background-image: url("images/undeva.jpeg"); }
#mar { background-image: url("images/mar.jpeg"); }
#buna-rau { background-image: url("images/buna-rau.jpeg"); }
#ceai { background-image: url("images/ceai.jpeg"); }

/*}}}*/

/* =========================== blog-post =======================*//*{{{*/

.blog-post-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20vh;
  background-color: #191919;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: #fff;
  color: black;
  padding: 1.5vh 1.5vw;
  font-size: 1em;
  border: none;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #fff;}

.dropdown:hover ul {display: block;}

.dropdown:hover button {background-color: #eee;}


.blog-post-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  background-color: #fff;
}

.blog-post-body section {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80vw;
}

/*}}}*/

/* =========================== responsive =======================*//*{{{*/

@media only screen and (max-width: 1000px) {
  header, .main-title, .blog-post-body {
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  header, .main-title, .blog-post-body {
    font-size: 16px;
  }

  .projects-nav {
    align-items: center;
  }

  .projects-nav li {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  header, .main-title, .blog-post-body {
    font-size: 14px;
  }

  .blog-entry .img {
    width: 7vh;
    height: 7vh;
  }

  .blog-entry .content {
    height: 7vh;
  }
}

@media only screen and (max-width: 400px) {
  header, .main-title, .blog-post-body {
    font-size: 12px;
  }
}

/*}}}*/
